
@{
    ViewData["Title"] = "PasswordUpdate";
}

<h1>PasswordUpdate</h1>


@model PasswordUpdateViewModel
<form asp-action="PasswordUpdate" method="post">

    <input asp-for="Email" type="hidden"  />
    <input asp-for="Password" type="password"  />
    <input asp-for="PasswordComfrim" type="password"  />

    <button class="btn btn-success">

        Password Update

    </button>
</form>