
@{
    ViewData["Title"] = "PasswordForget";
}

<h1>PasswordForget</h1>

@model PasswordForgetViewModel


<form asp-action="PasswordForget" method="post">

    <input asp-for="Email" placeholder="email" />
    <input asp-for="Token" placeholder="token" />

    <button class="btn btn-success">Reset</button>

</form>



<partial name="~/views/shared/_SocialMediaİconsPartialView.cshtml" />



