@model AppUser
<h1 class="text-center mb-3">SignUp</h1>
@using System.Text.Json;

@{

    if (TempData["Errors"] != null)
    {


        <div class="bg-danger mb-5" >
            <ul>
                @foreach (var item in JsonSerializer.Deserialize<List<string>>(TempData["Errors"].ToString()))
                {
                    <li class="text-dark">@item</li>
                }
            </ul>
        </div>
    }

}

<form asp-action="SignUp" method="post">


    <input class="form-control" type="text" asp-for="Name" placeholder="name" />
    <input class="form-control" type="text" asp-for="SurName" placeholder="surname" />
    <input class="form-control" type="text" asp-for="UserName" placeholder="user name" />
    <input class="form-control" type="email" asp-for="Email" placeholder="email" />
    <input class="form-control" type="password" asp-for="Password " placeholder="password" />
    <input class="form-control" type="number" asp-for="Age" placeholder="age" />

    <button type="submit" class="btn btn-outline-success">Sign Up</button>
</form>


<partial name="~/views/shared/_SocialMediaİconsPartialView.cshtml" />


    