
@{
    ViewData["Title"] = "SinavEkle";
}


@model Examp

<div class="container">


    <div class="row">

        
        <div class="col-md-6 border p-3">
        
            <form asp-action="SinavEkle" method="post">


                <input type="hidden" name="id" value="@ViewBag.Id" />

                <select class="form-select mb-2" asp-for="SınavTür"  asp-items="ViewBag.SinavTür">
                    <option value="disabled selected>Bir Sınav Türü Seçin"></option>
                </select>


                <select class="form-select mb-2" asp-for="Ders" asp-items="ViewBag.Ders">
                    <option value="disabled selected>Bir Ders Seçin"></option>
                </select>


                <input class="form-control mb-2" asp-for="Not"  placeholder="sınav notu girişniz"/>


                <button type="submit" class="btn btn-danger">Not Ekle</button>
               


            </form>


        </div>


        <div class="col-md-6 border p-3">
        
                <ul>

            @foreach (var item in ViewBag.AllExamp as List<Examp>)
            {
                    <li>
                        
                        @{

                            var dersAdı = Enum.GetName(typeof(Ders), item.Ders);
                            var sınavAdı = Enum.GetName(typeof(SınavTür), item.SınavTür);

                        }
                       
                        @(dersAdı+ " "+ sınavAdı+" "+item.Not)
                    </li>
            }
                </ul>


        </div>


    </div>

</div>
