
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model List<AppUser>


<table class="table">


    <thead>
        <tr>
            <th>name</th>
            <th>user name</th>
            <th>email</th>
        </tr>
    </thead>

    <tbody>
        @{

            foreach (var item in Model)
            {
                <tr>
                
                <td>@item.Name</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                </tr>
            }

        }
    </tbody>

</table>